<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy.pj.sys.dao.SysNotice">

    <insert id="insertNotice" parameterType="com.cy.pj.sys.pojo.pojoSysNotice">
        insert into sys_notice
        (title,type,content,status,remark,
         createdTime,modifiedTime,createdUser,modifiedUser)
        values
        (#{title},#{type},#{content},#{status},#{remark},
         now(),now(),#{createdUser},#{modifiedUser})
    </insert>
</mapper>
    