<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy.pj.sys.dao.SysNotice">

    <insert id="insertNotice" parameterType="com.cy.pj.sys.pojo.pojoSysNotice">
        insert into sys_notice
        (title,type,content,status,remark,
         createdTime,modifiedTime,createdUser,modifiedUser)
        values
        (#{title},#{type},#{content},#{status},#{remark},
         now(),now(),#{createdUser},#{modifiedUser})
    </insert>
    <update id="updateNotice" parameterType="com.cy.pj.sys.pojo.pojoSysNotice">
        update sys_notice
        set title=#{title},
            type=#{type},
            content=#{content},
            status=#{status},
            remark=#{remark},
            modifiedTime=now(),
            modifiedUser=#{modifiedUser}
        where id=#{id}
    </update>
    <delete id="deleteById">
        delete from
        sys_notice
        <where>
        <if test="ids!=null and ids.length>0">
        where id in
        <foreach item="item" index="index" collection="ids"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        </if>
        or 1=2
        </where>
    </delete>
    <select id="selectNotices"
            parameterType="com.cy.pj.sys.pojo.pojoSysNotice"
            resultType="com.cy.pj.sys.pojo.pojoSysNotice">
        select *
        from sys_notice
        <where>
            <if test="title!=null and title!=''">
                and title like concat("%",#{title},"%")
            </if>
            <if test="createdUser!=null and createdUser!=''">
                and createdUser like concat("%",#{createdUser},"%")
            </if>
            <if test="type!=null and type!=''">
                and type=#{type}
            </if>
        </where>
        order by createdTime desc
    </select>

</mapper>
    